---
import type { CollectionEntry } from 'astro:content';

import { css, cx } from '@/styled-system/css';
import { prose } from '@/styled-system/recipes';
import { ScrollProgressBar } from '@/ui/scroll-progress-bar';
import { formatLastModified } from '@/lib/datetime';
import type { RemarkPluginFrontmatter } from '@/types/remark';

import BaseLayout from './base-layout.astro';
import Breadcrumb from '@/ui/breadcrumb.astro';
import { PostNavigation } from '@/ui/post-navigation';

interface Props {
	post: CollectionEntry<'blog'>;
	frontmatter: RemarkPluginFrontmatter;
}

const { post, frontmatter } = Astro.props;

const { title, description, author, publishedDate } = post.data;

const contentClasses = prose({
	size: { base: 'md', xs: 'lg', lg: 'xl', '3xl': '2xl' },
});

const { readingTime, lastModified } = frontmatter;

const modifiedTime = formatLastModified(lastModified);
const roundedMinutesRead = Math.ceil(readingTime.minutes);
const displayMinutesRead = `${roundedMinutesRead} min read`;
const wordCount = readingTime.words;

const postNavProps = {
	prevPost: {
		slug: '/blog/adding-new-posts',
		title: 'Adding new posts in AstroPaper theme',
	},
	nextPost: {
		slug: '/blog/how-to-add-latex',
		title: 'How to add LaTeX Equations in Astro blog posts',
	},
};
---

<BaseLayout title={title} description={description}>
	<ScrollProgressBar />
	<main>
		<div
			class={cx(css({ maxWidth: '800px', mx: 'auto', mb: '48px', px: '4' }))}
		>
			<Breadcrumb
				crumbs={[
          { label: 'Home', href: '/' },
          { label: 'Blog', href: '/blog' },
          { label: title },
        ]}
				variant="underline"
				size="sm"
				class={css({ my: '16px' })}
			/>
			<Breadcrumb
				crumbs={[
          { label: 'Home', href: '/' },
          { label: 'Blog', href: '/blog' },
          { label: title },
        ]}
				size="md"
				class={css({ my: '16px' })}
			/>
			<Breadcrumb
				crumbs={[
          { label: 'Home', href: '/' },
          { label: 'Blog', href: '/blog' },
          { label: title },
        ]}
				variant="underline"
				size="lg"
				class={css({ my: '16px' })}
			/>
		</div>
		<article class={cx(contentClasses, css({ mx: 'auto' }))}>
			<header></header>
			<h1>{title}</h1>
			<p>{description}</p>
			<p>By {author}</p>
			<p>Published on {publishedDate}</p>
			<p>Last modified on {modifiedTime}</p>
			<p>Estimated reading time: {displayMinutesRead}</p>
			{wordCount && <p>Word count: {wordCount}</p>}
			<div>
				<slot />
			</div>
			<div class={cx(css({ my: '48px' }))}>
				<PostNavigation {...postNavProps} />
			</div>
		</article>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa
		voluptate excepturi minus a ea totam velit, quaerat ullam ratione neque
		voluptates animi saepe necessitatibus consectetur sapiente! Soluta impedit
		possimus alias ab deserunt vitae pariatur voluptatem fuga dolorum, suscipit
		placeat? Aliquam blanditiis fuga molestiae officiis inventore, nobis maiores
		ullam corrupti?
	</main>
</BaseLayout>
