---
	import type { CollectionEntry } from 'astro:content';

	import { css, cx } from '@/styled-system/css';
	import { prose } from '@/styled-system/recipes';

	import BaseLayout from './base-layout.astro';

	interface Props {
		post: CollectionEntry<'blog'>;
	}

	const { post } = Astro.props;

	const { title, description, author, publishedDate, modifiedDate } = post.data;

	const contentClasses = prose({
		size: { base: 'md', xs: 'lg', lg: 'xl', '3xl': '2xl' },
	});
---
<BaseLayout>
	<main>
		<div class={cx(contentClasses, css({ mx: 'auto' }))}>
			<article>
				<header></header>
				<h1>{title}</h1>
				<p>{description}</p>
				<p>By {author}on {publishedDate}</p>
				<p>Last modified on {modifiedDate}</p>
				<div>
					<slot />
				</div>
			</article>
		</div>
	</main>
</BaseLayout>
