---
import type { CollectionEntry } from 'astro:content';

import { formatLastModified } from '@/lib/datetime';
import { css, cx } from '@/styled-system/css';
import { scrollable } from '@/styled-system/patterns';
import { prose } from '@/styled-system/recipes';
import type { RemarkPluginFrontmatter } from '@/types/remark';
import Breadcrumb from '@/ui/breadcrumb.astro';
import { PostNavigation } from '@/ui/post-navigation';
import { ScrollProgressBar } from '@/ui/scroll-progress-bar';

import { Tag } from '@/ui/tag';
import BaseLayout from './base-layout.astro';

interface Props {
	post: CollectionEntry<'blog'>;
	frontmatter: RemarkPluginFrontmatter;
}

const { post, frontmatter } = Astro.props;

const { title, description, author, publishedDate } = post.data;

const contentClasses = prose({
	size: { base: 'md', xs: 'lg', lg: 'xl', '3xl': '2xl' },
});

const { readingTime, lastModified } = frontmatter;

const modifiedTime = formatLastModified(lastModified);
const roundedMinutesRead = Math.ceil(readingTime.minutes);
const displayMinutesRead = `${roundedMinutesRead} min read`;
const wordCount = readingTime.words;

const postNavProps = {
	prevPost: {
		slug: '/blog/adding-new-posts',
		title: 'Adding new posts in AstroPaper theme',
	},
	nextPost: {
		slug: '/blog/how-to-add-latex',
		title: 'How to add LaTeX Equations in Astro blog posts',
	},
};
---

<BaseLayout title={title} description={description}>
	<ScrollProgressBar />
	<main>
		<div
			class={cx(css({ maxWidth: '800px', mx: 'auto', mb: '48px', px: '4' }))}
		>
			<Breadcrumb
				crumbs={[
          { label: 'Home', href: '/' },
          { label: 'Blog', href: '/blog' },
          { label: title },
        ]}
				variant="underline"
				size="sm"
				class={css({ my: '16px' })}
			/>
			<Breadcrumb
				crumbs={[
          { label: 'Home', href: '/' },
          { label: 'Blog', href: '/blog' },
          { label: title },
        ]}
				size="md"
				class={css({ my: '16px' })}
			/>
			<Breadcrumb
				crumbs={[
          { label: 'Home', href: '/' },
          { label: 'Blog', href: '/blog' },
          { label: title },
        ]}
				variant="underline"
				size="lg"
				class={css({ my: '16px' })}
			/>

			<div
				class={scrollable({ direction: 'vertical', hideScrollbar: true, h: '100px' })}
			>
				Scrollable content Lorem ipsum dolor sit amet consectetur adipisicing
				elit. Dignissimos qui ut enim voluptatum quos magni aliquam praesentium
				officiis consequuntur quod molestias numquam quidem necessitatibus
				cumque alias odit in repudiandae, at vitae quam rerum tempore pariatur.
				Possimus minima corporis sed impedit facilis ipsam fugiat architecto
				autem dolore assumenda natus, est doloremque facere. Corporis beatae
				consequuntur assumenda dolorem dolor ducimus atque. Quasi consequuntur
				dolor hic numquam dolorem sit laborum esse, ullam cumque tenetur
				consequatur odit est sunt. Deleniti magni corrupti unde perspiciatis
				tenetur doloremque, vel, harum eos asperiores reprehenderit laboriosam!
				Aperiam quisquam harum laborum non quasi ipsum veritatis a aspernatur
				facere cum!
			</div>
		</div>
		<article class={cx(contentClasses, css({ mx: 'auto' }))}>
			<header></header>
			<h1>{title}</h1>
			<p>{description}</p>
			<p>By {author}</p>
			<p>Published on {publishedDate}</p>
			<p>Last modified on {modifiedTime}</p>
			<p>Estimated reading time: {displayMinutesRead}</p>
			{wordCount && <p>Word count: {wordCount}</p>}
			<div>
				<slot />
			</div>
			<div class={cx(css({ my: '48px' }))}>
				<div
					class={css({mt: '4', display: 'flex', flexWrap: 'wrap', gap: '3'})}
				>
					<Tag variant="javascript" size="sm" />
					<Tag variant="css" size="sm" />
					<Tag variant="typescript" size="sm" />
					<Tag variant="astro" size="sm" />
					<Tag variant="pandacss" size="sm" />
					<Tag variant="qwik" size="sm" />
					<Tag variant="cloudflare" size="sm" />
					<Tag variant="git" size="sm" count={24} />
					<Tag variant="reactjs" size="sm" />
					<Tag variant="coding" size="sm" count={3} />
					<Tag variant="linux" size="sm" count={2} />
					<Tag variant="vuejs" size="sm" count={15} />
					<Tag variant="testing" size="sm" count={6} />
					<Tag variant="markdown" size="sm" />
					<Tag variant="golang" size="sm" />
					<Tag variant="postgres" size="sm" />
					<Tag variant="docker" size="sm" />
				</div>
				<br />
				<div
					class={css({mt: '4', display: 'flex', flexWrap: 'wrap', gap: '4'})}
				>
					<Tag variant="javascript" size="md" count={15} />
					<Tag variant="css" size="md" count={3} />
					<Tag variant="typescript" size="md" count={7} />
					<Tag variant="cloudflare" size="md" count={24} />
					<Tag variant="astro" size="sm" />
					<Tag variant="git" size="md" count={6} />
					<Tag variant="reactjs" size="md" count={2} />
					<Tag variant="coding" size="md" />
					<Tag variant="linux" size="md" />
					<Tag variant="vuejs" size="md" />
					<Tag variant="testing" size="md" />
					<Tag variant="qwik" size="md" count={8} />
					<Tag variant="pandacss" size="md" count={5} />
					<Tag variant="markdown" size="md" count={4} />
					<Tag variant="golang" size="md" count={10} />
					<Tag variant="postgres" size="md" count={7} />
					<Tag variant="docker" size="md" count={12} />
				</div>
				<br />
				<div
					class={css({mt: '4', display: 'flex', flexWrap: 'wrap', gap: '5'})}
				>
					<Tag variant="javascript" size="lg" count={15} />
					<Tag variant="css" size="lg" count={3} />
					<Tag variant="typescript" size="lg" count={7} />
					<Tag variant="reactjs" size="lg" count={2} />
					<Tag variant="cloudflare" size="lg" count={4} />
					<Tag variant="git" size="lg" count={6} />
					<Tag variant="astro" size="lg" />
					<Tag variant="coding" size="lg" />
					<Tag variant="linux" size="lg" />
					<Tag variant="vuejs" size="lg" />
					<Tag variant="testing" size="lg" />
					<Tag variant="qwik" size="lg" count={8} />
					<Tag variant="pandacss" size="lg" count={5} />
					<Tag variant="markdown" size="lg" count={4} />
					<Tag variant="golang" size="lg" count={10} />
					<Tag variant="postgres" size="lg" count={7} />
					<Tag variant="docker" size="lg" count={12} />
				</div>
				<PostNavigation {...postNavProps} />
			</div>
		</article>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ipsa
		voluptate excepturi minus a ea totam velit, quaerat ullam ratione neque
		voluptates animi saepe necessitatibus consectetur sapiente! Soluta impedit
		possimus alias ab deserunt vitae pariatur voluptatem fuga dolorum, suscipit
		placeat? Aliquam blanditiis fuga molestiae officiis inventore, nobis maiores
		ullam corrupti?
	</main>
</BaseLayout>
